<header class="header">
    <h1 class="header__h1"><img src="../../../../assets/ps-logo.png" alt="PlayStation logo" /></h1>
    <nav class="header__nav">
        <ul>
            <li><a href="#">Novidades</a></li>
        </ul>
        <ul>
            <li><a href="#">Coleções</a></li>
        </ul>
        <ul>
            <li><a href="#">Ofertas</a></li>
        </ul>
        <ul>
            <li><a href="#">PS5</a></li>
        </ul>
        <ul>
            <li><a href="#">Assinaturas</a></li>
        </ul>
    </nav>
</header>
