<header class="header">
    <h1 class="header__h1"><img src="../../../../assets/ps-logo.png" alt="PlayStation logo" /></h1>
    <nav class="header__nav">
        <ul>
            <li><a href="https://www.playstation.com/pt-br/">Novidades</a></li>
        </ul>
        <ul>
            <li><a href="https://www.playstation.com/pt-br/">Coleções</a></li>
        </ul>
        <ul>
            <li><a href="https://www.playstation.com/pt-br/">Ofertas</a></li>
        </ul>
        <ul>
            <li><a href="https://www.playstation.com/pt-br/">PS5</a></li>
        </ul>
        <ul>
            <li><a href="https://www.playstation.com/pt-br/">Assinaturas</a></li>
        </ul>
    </nav>
</header>
